@import url("https://fontlibrary.org//face/fira-code");
* {
	box-sizing: border-box;
}
:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	--primary-bg-color: #463f3a;
	--secondary-bg-color: #8a817c;
	--font-color: #f4f3ee;
}
body {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3 {
	font-family: "FiraCodeRegular";
}
a,
li,
span,
p {
	font-family: monospace, sans-serif;
}
/* Tech Dashboard */
.admin-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
	min-height: 100vh;
	background-color: var(--secondary-bg-color);
	color: var(--font-color);
}
.admin-header,
.admin-issue-showcase,
.admin-tech-showcase {
	grid-column: 2/6;
}
.admin-dashboard {
	grid-row: 1/6;
	grid-column: 1/1;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr;
	background-color: var(--primary-bg-color);
	transition: all 0.2s linear;
	width: 100%;
	padding: 0;
}
.admin-dashboard-logo-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-row: 1/1;
	padding: 1.5rem;
	transition: all 0.2s ease-in;
	cursor: default;
	align-items: center;
	gap: 1rem;
}
.admin-dashboard-logo-heading {
	font-size: clamp(5rem, 5vw, 10rem);
	grid-column: 2/2;
}
.admin-dashboard-logo-heading:hover::first-letter {
	color: black;
}
.admin-dashboard-logo-heading::first-letter {
	color: grey;
	transition: all 0.2s linear;
}
.admin-dashboard-logo {
	grid-column: 1/1;
	grid-row: 1/1;
	transition: all 0.1s linear;
	justify-self: end;
	filter: contrast(5%);
}
.admin-dashboard-logo-heading:hover + .admin-dashboard-logo {
	filter: contrast(100%);
}
.admin-dashboard-links {
	list-style: none;
	padding: 0;
	display: grid;
	gap: 5rem;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, 0fr);
}
.admin-dashboard-link {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	grid-column: 1/1;
	color: var(--secondary-bg-color);
	font-size: clamp(1.2rem, 2vw, 3rem);
	padding: 1rem;
	cursor: pointer;
	gap: 1rem;
	transition: all 0.2s linear;
}
.admin-dashboard-link:hover {
	color: var(--font-color);
	background-color: var(--secondary-bg-color);
}

.admin-dashboard-link-icon {
	grid-column: 1/1;
	width: clamp(2rem, 3vw, 4rem);
	justify-self: end;
	transition: all 0.2s ease-in;
	filter: contrast(15%);
}
.admin-dashboard-link:hover > .admin-dashboard-link-icon {
	filter: contrast(150%);
}

/* Tech Header */

.admin-header-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-column: 2/6;
	grid-row: 1/2;
}
.admin-header-user-container {
	display: grid;
	grid-template-columns: 1fr 1fr 6fr;
	grid-template-rows: 1fr;
	grid-column: 3/3;
	align-self: start;
	align-items: center;
	justify-items: center;
	gap: 1rem;
}

.admin-header-content-container {
	position: relative;
	display: grid;
	grid-template-columns: 5fr 1fr;
}

.admin-header-content-heading {
	font-size: clamp(3rem, 3vw, 6rem);
	text-align: center;
	padding: 2rem;
	margin: 0;
	grid-row: 2/2;
	justify-self: center;
}
.admin-header-content-txt {
	font-size: clamp(1.2rem, 2vw, 1.6rem);
	padding: 1rem;
	cursor: default;
}
.admin-header-content-img-1,
.admin-header-content-img-2,
.admin-header-content-img-3 {
	cursor: pointer;
	width: clamp(2rem, 3vw, 4rem);
}
.admin-header-content-img-1 {
	position: relative;
	grid-row: 1/1;
	grid-column: 2/2;
}
.admin-header-notification {
	position: relative;
	cursor: pointer;
}
.admin-header-notification::after {
	position: absolute;
	content: "";
	top: 0;
	border-radius: 50%;
	right: 0.5rem;
	width: clamp(1rem, 5vw, 1.6rem);
	height: clamp(1rem, 5vw, 1.6rem);
	background-color: red;
}

.admin-header-user-content {
	grid-column: 3/3;
	grid-row: 1/1;
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: end;
	justify-items: self-end;
	gap: 1rem;
	padding: 1rem;
}

.admin-header-content-img-2 {
	background-color: blue;
	border-radius: 50%;
	border: 0.2rem solid transparent;
	align-self: center;
	grid-row: 1/1;
	grid-column: 2/2;
}
.admin-header-content-img-3 {
	grid-column: 1/1;
	grid-row: 1/1;
}

/* Tech Showcase */
.admin-tech-showcase {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	color: var(--secondary-bg-color);
	background-color: var(--font-color);
	grid-row: 2/5;
	gap: clamp(1rem, 2vw, 5rem);
	overflow: hidden;
	grid-auto-flow: 100rem;
}
.admin-tech-category-heading {
	font-size: clamp(3rem, 3vw, 6rem);
	padding: 1rem;
	text-align: center;
	text-decoration: underline;
	color: black;
	cursor: default;
}
.admin-tech-category-content {
	font-size: clamp(3rem, 3vw, 5rem);
	text-align: center;
	color: black;
	cursor: pointer;
}
.admin-tech-category-content:hover > .admin-tech-category-img {
	filter: contrast(100%);
}
.admin-tech-category-img {
	display: inline-block;
	margin: 0 1rem;
	padding: 0 0.5rem;
	width: clamp(5rem, 4vw, 6rem);
	filter: contrast(5%);
	transition: all 0.2s linear;
}

.admin-tech-category-1 {
	grid-row: 1/2;
	grid-column: 1/3;
	border: 5px solid transparent;
	box-shadow: 1rem 1rem 2rem 0.5rem;
	border-radius: 0.5rem;
}
.admin-tech-category-2 {
	grid-row: 1/5;
	grid-column: 3/3;
	border: 5px solid transparent;
	box-shadow: -1rem 0rem 3rem 0rem;
	border-radius: 0.5rem;
}
.admin-tech-category-3 {
	/* grid-row: 1/2; */
	/* grid-column: 1/3; */
	border: 5px solid transparent;
	box-shadow: 0rem 1rem 2rem 0.5rem;
	border-radius: 0.5rem;
}
.admin-tech-category-4 {
	grid-row: 2/3;
	grid-column: 1/2;
	border: 5px solid transparent;
	box-shadow: 0rem 1rem 2rem 0.5rem;
	border-radius: 0.5rem;
}
.admin-tech-category-5 {
	grid-row: 3/5;
	grid-column: 1/3;
	border: 5px solid transparent;
	box-shadow: 0rem -0.5rem 3rem 0rem;
	border-radius: 0.5rem;
}

/* Tech Issues */
.admin-issue-showcase {
	position: relative;
	grid-column: 2/6;
	width: 100%;
}
.admin-issue-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
}
.admin-issue-heading {
	font-size: 2rem;
	padding: 0 1.5rem;
	grid-row: 1/1;
	grid-column: 1/1;
}

#issue_1:hover {
	color: red;
	background-color: red;
}
#issue_2:hover {
	color: darkorange;
	background-color: darkorange;
}
#issue_3:hover {
	color: royalblue;
	background-color: royalblue;
}
#issue_1 span,
#issue_2 span,
#issue_3 span {
	color: var(--font-color);
}
.admin-issue {
	position: relative;
	font-size: clamp(1rem, 2vw, 8rem);
	font-weight: 900;
	font-style: italic;
	border: 2px solid red;
	border-radius: 1rem;
	cursor: pointer;
	transition: all 0.2s linear;
	grid-row: 1/1;
	padding: 1rem 2rem;
	align-self: start;
}
.admin-issue::before {
	position: absolute;
	content: "VERY URGENT";
	font-size: clamp(1rem, 1vw, 1.2rem);
	padding: clamp(0.5rem, 0.5vw, 1rem);
	top: -1.2vh;
	right: -3rem;
	border-radius: 1rem;
	color: var(--font-color);
}
#issue_1.admin-issue::before {
	background-color: red;
}
#issue_2.admin-issue::before {
	content: "URGENT";
	background-color: darkorange;
	border-color: darkorange;
}
#issue_2.admin-issue {
	border-color: darkorange;
}
#issue_3.admin-issue {
	border-color: royalblue;
}
#issue_3.admin-issue::before {
	background-color: royalblue;
	content: "Queued";
}
